body {
    font-family: Arial, sans-serif;
    background-color: #428bca;
    margin: 0;
    padding: 0;
    height: 100vh;
  }

  nav {
    text-align: center;
    margin-bottom: 20px;
    background-color: #08608c;
    border-radius: 10px;
    padding: 4px;
    margin: 10px;
  }

  nav a {
    display: inline-block;
    margin: 0 10px;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #08608c;
    color: #fff;
    border-radius: 5px;
    margin: 10px;
  }

  nav a:hover {
    background-color: #3071a9;
  }


  h1 {
    text-align: center;
    padding: 40px 0;
  }

  form {
    width: 300px;
    margin: 0 auto;
  }

  label {
    display: block;
    margin-bottom: 10px;
  }

  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #428bca;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #3071a9;
  }

  p {
    text-align: center;
  }